<!DOCTYPE html>
<html>
  <head>
    <title><?php echo C('web_title'); ?> - <?php echo C('web_subtitle') ?></title>
    <include file="Common:head.meta"/>
    <meta content='1 day' name='revisit-after'>
    <meta content='width=device-width, initial-scale=1' name='viewport'>
    <link rel="shortcut icon" href="favicon.ico?v=5" type="image/x-icon">
    <!-- Fonts -->
    <!--link href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,400italic,300italic,100italic,700italic,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Inconsolata:400,700' rel='stylesheet' type='text/css'-->
    <!-- Styles -->
    <include file="Common:head.style"/>
    <!-- HTML5 fallbacks -->
    <!--[if lt IE 9]>
    <script src="__PUBLIC__/javascripts/html5shiv.js" type="text/javascript"></script>
    <script src="__PUBLIC__/javascripts/respond.min.js" type="text/javascript"></script>
    <![endif]-->
    <include file="Common:head.script"/>
    <script src="__PUBLIC__/javascripts/jquery.min.js" type="text/javascript"></script>


    <style>
        body, p, h1, 
        #navigation li a, #filter-trigger, #filters {font-family: "微软雅黑", Arial, sans-serif;}
        @media (max-width: 780px) {
            #navigation li {
                border-bottom: solid 1px #eee;
            }
        }
    </style>
  </head>
  <body>
    <div class='container-fluid'>
        <include file="Common:body.header"/>
      <div class='slider'>
        <ul class='slides'>
          <li class='slide dark'>
            <section class='jumbotron'>
              <div class='bg' style='background-image:url(https://unsplash.imgix.net/photo-1423176281849-2d0f865692cc?fit=crop&amp;fm=jpg&amp;h=700&amp;q=75&amp;w=1050);'></div>
              <section>
                <div class='row'>
                  <div class='col-md-6'>
                    <p>硅谷密探<br>立足硅谷,聚集硅谷开发工程师及产品设计师,解析和推荐众多科技产品.</p>
                  </div>
                </div>
              </section>
            </section>
          </li>
          <li class='slide dark'>
            <section class='jumbotron'>
              <div class='bg' style='background-image:url(__PUBLIC__/images/projects/05.jpg);'></div>
              <section>
                <div class='row'>
                  <div class='col-md-12 text-center'>
                    <h1>硅谷密探带你洞察“创意”</h1>
                  </div>
                </div>
              </section>
            </section>
          </li>
          <li class='slide text-right' id="pitchroom">
            <section class='jumbotron'>
              <div class='bg' style='background-image:url(__PUBLIC__/images/projects/05.png);'></div>
              <section>
                <div class='row'>
                  <div class='col-md-12 text-center'>
                    <h1>听硅谷工程狮，产品经理们分析110亿美元APP</h1>
                    <p><a class="btn btn-primary" href="__ROOT__/index.php/pitchroom">进入房间</a></p>
                  </div>
                </div>
              </section>
            </section>
          </li>
          <li class='slide dark'>
            <section class='jumbotron'>
              <div class='bg' style='background-image:url(__PUBLIC__/images/projects/01.jpg);'></div>
              <section>
                <div class='row'>
                  <div class='col-md-4'>
                    <h1>创意</h1>
                    <p>创意的核心是洞察，但是什么是洞察呢？如何获得洞察呢？</p>
                  </div>
                </div>
              </section>
            </section>
          </li>
          <li class='slide dark'>
            <section class='jumbotron'>
              <div class='bg' style='background-image:url(https://unsplash.imgix.net/photo-1416400453940-65c69d70ad91?fit=crop&amp;fm=jpg&amp;h=700&amp;q=75&amp;w=1050);'></div>
              <section>
                <div class='row'>
                  <div class='col-md-5'>
                    <h2>一场颠覆革命即将上演</h2>
                  </div>
                </div>
              </section>
            </section>
          </li>
        </ul>
      </div>
      <section class='work' id='work'>
        <div class='row'>
          <div class='col-md-8'>
            <div class='pull-left' id='filter-trigger'>分类</div>
            <ul id='filters'>
              <li>
                <button data-filter='*'>所有</button>
              </li>
              <li>
                <button data-filter='.design'>设计</button>
              </li>
              <li>
                <button data-filter='.photography'>摄影</button>
              </li>
              <li>
                <button data-filter='.illustration'>素描</button>
              </li>
              <li>
                <button data-filter='.identity'>抽象</button>
              </li>
            </ul>
          </div>
        </div>
        <ul class='col-3' id='grid'>
          <li class='item photography illustration'>
            <a class='inner' href='single.html' style='background:url(__PUBLIC__/images/projects/17.jpg);'>
              <div class='caption'>
                <div class='field'>
                  Identity + Design
                </div>
                <div class='titles'>
                  <div class='title'>Enhanced Drilling</div>
                  <div class='subtitle'>Businesscards</div>
                </div>
              </div>
            </a>
          </li>
          <li class='item photography wide'>
            <a class='inner' href='single.html' style='background:url(__PUBLIC__/images/projects/05.png);'>
              <div class='caption'>
                <div class='field'>
                  Design
                </div>
                <div class='titles'>
                  <div class='title'>Badaboom</div>
                  <div class='subtitle'>Packages</div>
                </div>
              </div>
            </a>
          </li>
          <li class='item identity'>
            <a class='inner' href='single.html' style='background:url(https://ununsplash.imgix.net/photo-1414637104192-f9ab9a0ee249?fit=crop&amp;fm=jpg&amp;h=700&amp;q=75&amp;w=1050);'>
              <div class='caption'>
                <div class='field'>
                  Typography + Branding
                </div>
                <div class='titles'>
                  <div class='title'>Tilli</div>
                  <div class='subtitle'>Branding</div>
                </div>
              </div>
            </a>
          </li>
          <li class='item design'>
            <a class='inner' href='single.html' style='background:url(https://unsplash.imgix.net/photo-1423145406370-2b342ae5b597?fit=crop&amp;fm=jpg&amp;h=700&amp;q=75&amp;w=1050);'>
              <div class='caption'>
                <div class='field'>
                  Design + Print
                </div>
                <div class='titles'>
                  <div class='title'>The Magazine</div>
                  <div class='subtitle'>Issue #01</div>
                </div>
              </div>
            </a>
          </li>
          <li class='item high design identity'>
            <a class='inner' href='single.html' style='background:url(__PUBLIC__/images/projects/02.jpg);'>
              <div class='caption'>
                <div class='field'>
                  Design + Identity
                </div>
                <div class='titles'>
                  <div class='title'>Badaboom</div>
                  <div class='subtitle'>Clothing</div>
                </div>
              </div>
            </a>
          </li>
          <li class='item design identity'>
            <a class='inner' href='single.html' style='background:url(https://unsplash.imgix.net/photo-1423109437485-813895ed077f?fit=crop&amp;fm=jpg&amp;h=700&amp;q=75&amp;w=1050);'>
              <div class='caption'>
                <div class='field'>
                  Design + Identity
                </div>
                <div class='titles'>
                  <div class='title'>Touromi</div>
                  <div class='subtitle'>Briefpaper</div>
                </div>
              </div>
            </a>
          </li>
          <li class='item design illustration'>
            <a class='inner' href='single.html' style='background:url(https://unsplash.imgix.net/photo-1416400453940-65c69d70ad91?fit=crop&amp;fm=jpg&amp;h=700&amp;q=75&amp;w=1050);'>
              <div class='caption'>
                <div class='field'>
                  Design + Illustration
                </div>
                <div class='titles'>
                  <div class='title'>Touromi</div>
                  <div class='subtitle'>Interaction Design</div>
                </div>
              </div>
            </a>
          </li>
        </ul>
      </section>
      <section>
        <div class='row block'>
          <div class='col-md-6 col-md-offset-3'>
            <div class='text-center'>
              <div class='title-block'>
                <h3>硅谷密探</h3>
              </div>
              <p>立足硅谷,聚集硅谷开发工程师及产品设计师,解析和推荐众多科技产品.</p>
            </div>
          </div>
        </div>
      </section>
      <section class='contact top-line mobile-center'>
        <div class='block'>
          <div class='row'>
            <div class='col-md-4'>
              <div class='row'>
                <div class='col-md-2'>
                  <div class='fa fa-building-o'></div>
                </div>
                <div class='col-md-10'>
                  <p>Teratstreet 404</p>
                  <p>13337, AB, CD</p>
                </div>
              </div>
            </div>
            <div class='col-md-4'>
              <div class='row'>
                <div class='col-md-2'>
                  <div class='fa fa-phone'></div>
                </div>
                <div class='col-md-10'>
                  <p>(10) 10 100 100</p>
                  <p>(13) 33 333 337</p>
                </div>
              </div>
            </div>
            <div class='col-md-4'>
              <div class='row'>
                <div class='col-md-2'>
                  <div class='fa fa-envelope-o'></div>
                </div>
                <div class='col-md-10'>
                  <p>support@themanoid.com</p>
                  <p>sales@themanoid.com</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

    </div>
    <script src="__PUBLIC__/javascripts/jquery.easing.1.3.js" type="text/javascript"></script>
    <script src="__PUBLIC__/javascripts/jquery.mobile.custom.min.js" type="text/javascript"></script>
    <script src="__PUBLIC__/javascripts/tera-slider.js" type="text/javascript"></script>
    <script src="__PUBLIC__/javascripts/tera-lightbox.js" type="text/javascript"></script>
    <script src="__PUBLIC__/javascripts/isotope.pkgd.min.js" type="text/javascript"></script>
    <script src="__PUBLIC__/javascripts/bootstrap.min.js" type="text/javascript"></script>
    <script src="__PUBLIC__/javascripts/validation.js" type="text/javascript"></script>
    <script src="__PUBLIC__/javascripts/jquery.placeholder.js" type="text/javascript"></script>
    <script src="__PUBLIC__/javascripts/waypoints.min.js" type="text/javascript"></script>
    <script src="__PUBLIC__/javascripts/functions.js" type="text/javascript"></script>
  </body>
</html>
