      <section class='contact top-line mobile-center'>
        <div class='block'>
          <div class='row'>
            <div class='col-md-4'>
              <div class='row'>
                <div class='col-md-2'>
                  <div class='fa fa-building-o'></div>
                </div>
                <div class='col-md-10'>
                  <p>Teratstreet 404</p>
                  <p>13337, AB, CD</p>
                </div>
              </div>
            </div>
            <div class='col-md-4'>
              <div class='row'>
                <div class='col-md-2'>
                  <div class='fa fa-phone'></div>
                </div>
                <div class='col-md-10'>
                  <p>(10) 10 100 100</p>
                  <p>(13) 33 333 337</p>
                </div>
              </div>
            </div>
            <div class='col-md-4'>
              <div class='row'>
                <div class='col-md-2'>
                  <div class='fa fa-envelope-o'></div>
                </div>
                <div class='col-md-10'>
                  <p>support@themanoid.com</p>
                  <p>sales@themanoid.com</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>